<!DOCTYPE html>
<html>
  <head>
    <title>DocNotes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div style="background-color: #d9f0ff; background-image: url('https://www.transparenttextures.com/patterns/project-paper.png'); padding:10px " >
      <%= yield %>
    </div>
  </body>
</html>
